<!--Show the basic tutorial structure on all /tutorials pages-->
<div id="contentWrapper">
  <div *ngIf="isOnBasePage">
    <h1>Coding Curriculum</h1>
    Want to learn to code with friends? Try out our Coding Clubs curriculum!
    <div id="tutorialsWrapper">
      <mat-card *ngFor="let tutorial of curriculumList; index as i"
            class="mat-elevation-z10"
            [ngStyle]="tutorial.image?{'background-image': 'url('+ tutorial.image + ')'} : {}">
        <div class="background" [ngStyle]="{'color': '' + curriculumColors[i%curriculumColors.length] + ''}">
            {{i+1}}
        </div>
        <mat-card-title><h4>{{tutorial.title}}</h4></mat-card-title>
        <mat-card-subtitle>{{tutorial.subtitle}}</mat-card-subtitle>
        <mat-card-content>
          <div *ngIf="tutorial.link">
            <ng-container *ngIf="tutorial.link.startsWith('http'); else internal">
              <a href="{{tutorial.link}}" target="_blank">Start {{tutorial.title | lowercase }}</a>
            </ng-container>
            <ng-template #internal>
              <a routerLink="{{tutorial.link}}">Start {{tutorial.title | lowercase }}</a>
            </ng-template>
          </div>
          <div *ngIf="tutorial.downloadLink">
            <a href="{{tutorial.downloadLink}}" download="{{tutorial.title}}.pdf">Download {{tutorial.title | lowercase }}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <h1>Tutorials</h1>
    Try out small basic with these fun tutorials! 
    <div id="tutorialsWrapper">
      <mat-card *ngFor="let tutorial of tutorialList"
            class="mat-elevation-z10"
            [ngStyle]="tutorial.image?{'background-image': 'url('+ tutorial.image + ')'} : {}">
        <mat-card-title><h4>{{tutorial.title}}</h4></mat-card-title>
        <mat-card-subtitle>{{tutorial.subtitle}}</mat-card-subtitle>
        <mat-card-content>
          <div *ngIf="tutorial.link">
            <ng-container *ngIf="tutorial.link.startsWith('http'); else internal">
              <a href="{{tutorial.link}}" target="_blank">Start {{tutorial.title | lowercase }}</a>
            </ng-container>
            <ng-template #internal>
              <a routerLink="{{tutorial.link}}">Start {{tutorial.title | lowercase }}</a>
            </ng-template>
          </div>
          <div *ngIf="tutorial.downloadLink">
            <a href="{{tutorial.downloadLink}}" download="{{tutorial.title}}.pdf">Download {{tutorial.title | lowercase }}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="left-nav-and-right-content" *ngIf="!isOnBasePage">
    <div class="left-nav">
      <h3>Table of Contents</h3>
      <ul>
        <li *ngFor="let chapter of chapters" routerLinkActive="active-link">
          <a routerLink="{{chapter.link}}">{{chapter.title}}</a>
          <ul class="left-nav-submenu">
            <li *ngFor="let section of chapter.sections">
              <a href="tutorials/{{chapter.link}}#{{section.link}}">{{section.title}}</a>
            </li>
          </ul>
        </li>
        <li id="api-link">
          <a routerLink="/docs">API Reference</a>
        </li>
      </ul>
    </div>
    <div class="right-content">
      <!--Show the chapter output from the url -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
