.left-nav-and-right-content {
  display: flex;
  flex-wrap: wrap;
}

.left-nav {
  padding: 5px;
  background-color: #f3f3f3;
}

.left-nav h3 {
  margin: 0;
  padding: 5px;
}

.left-nav > ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.left-nav > ul > li {
  padding-left: 10px;
  margin: 5px 0 5px 0;
}

.left-nav a {
  text-decoration: none;
  color: inherit;
}

.left-nav-submenu {
  visibility: hidden;
  height: 0;
}

.left-nav li.active-link {
  color: #567d00;
  background: #f8f8f8;
  border-left: 5px solid #567d00;
  padding-left: 5px !important;
}

.left-nav li.active-link .left-nav-submenu {
  visibility: visible;
  height: auto;
}

.right-content {
  padding: 5px;
}
