<!--Show the basic tutorial structure on all /tutorials pages-->
<div id="contentWrapper">
  <div class="left-nav-and-right-content">
    <div class="left-nav">
      <h3>Table of Contents</h3>
      <ul>
        <li *ngFor="let chapter of chapters" routerLinkActive="active-link">
          <a routerLink="{{chapter.link}}">{{chapter.title}}</a>
          <ul class="left-nav-submenu">
            <li *ngFor="let section of chapter.sections">
              <a href="tutorials/{{chapter.link}}#{{section.link}}">{{section.title}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="right-content">
      <!--Show the chapter output from the url -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
