<div class="container mrg-top20 sb-main-container" style="margin-bottom: 50px">
  <h2>Appendix: Colors</h2>
  <p>You can set colors in Small Basic 3 ways:</p>
  <ol>
      <li>Using pre-defined color names (e.g.&nbsp;<strong><em>GraphicsWindow.BrushColor = &quot;Red&quot;</em></strong>)
      </li>
      <li>Using a Hex value code (e.g.&nbsp;<strong><em>GraphicsWindows.BrushColor = &quot;#FF0000&quot;</em></strong>)
      </li>
      <li>Setting the Red, Green, Blue components (RGB) (e.g.&nbsp;<strong><em>GraphicsWindows.BrushColor = GraphicsWindow.GetColorFromRGB(255,0,0)</em></strong>)
      </li>
  </ol>
  For detailed information about colors, see <a href="http://social.technet.microsoft.com/wiki/contents/articles/23227.small-basic-color.aspx" class="last">Small Basic: Color</a>.<br />
  <br />
  Here&#39;s a list of named colors (and Hex code) supported by Small Basic, categorized by their base hue.<br />
  <br />
  <h3><a name="Red_Colors"></a>Red Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #cd5c5c;">
              <td style="width: 160px;">IndianRed</td>
              <td style="width: 80px;">#CD5C5C</td>
          </tr>
          <tr style="color: black; background-color: #f08080;">
              <td style="width: 160px;">LightCoral</td>
              <td style="width: 80px;">#F08080</td>
          </tr>
          <tr style="color: black; background-color: #fa8072;">
              <td style="width: 160px;">Salmon</td>
              <td style="width: 80px;">#FA8072</td>
          </tr>
          <tr style="color: black; background-color: #e9967a;">
              <td style="width: 160px;">DarkSalmon</td>
              <td style="width: 80px;">#E9967A</td>
          </tr>
          <tr style="color: black; background-color: #ffa07a;">
              <td style="width: 160px;">LightSalmon</td>
              <td style="width: 80px;">#FFA07A</td>
          </tr>
          <tr style="color: white; background-color: #dc143c;">
              <td style="width: 160px;">Crimson</td>
              <td style="width: 80px;">#DC143C</td>
          </tr>
          <tr style="color: black; background-color: red;">
              <td style="width: 160px;">Red</td>
              <td style="width: 80px;">#FF0000</td>
          </tr>
          <tr style="color: white; background-color: #b22222;">
              <td style="width: 160px;">FireBrick</td>
              <td style="width: 80px;">#B22222</td>
          </tr>
          <tr style="color: white; background-color: #8b0000;">
              <td style="width: 160px;">DarkRed</td>
              <td style="width: 80px;">#8B0000</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Pink_Colors"></a>Pink Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #ffc0cb;">
              <td style="width: 160px;">Pink</td>
              <td style="width: 80px;">#FFC0CB</td>
          </tr>
          <tr style="color: black; background-color: #ffb6c1;">
              <td style="width: 160px;">LightPink</td>
              <td style="width: 80px;">#FFB6C1</td>
          </tr>
          <tr style="color: black; background-color: #ff69b4;">
              <td style="width: 160px;">HotPink</td>
              <td style="width: 80px;">#FF69B4</td>
          </tr>
          <tr style="color: black; background-color: #ff1493;">
              <td style="width: 160px;">DeepPink</td>
              <td style="width: 80px;">#FF1493</td>
          </tr>
          <tr style="color: white; background-color: #c71585;">
              <td style="width: 160px;">MediumVioletRed</td>
              <td style="width: 80px;">#C71585</td>
          </tr>
          <tr style="color: black; background-color: #db7093;">
              <td style="width: 160px;">PaleVioletRed</td>
              <td style="width: 80px;">#DB7093</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Orange_Colors"></a>Orange Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #ffa07a;">
              <td style="width: 160px;">LightSalmon</td>
              <td style="width: 80px;">#FFA07A</td>
          </tr>
          <tr style="color: black; background-color: #ff7f50;">
              <td style="width: 160px;">Coral</td>
              <td style="width: 80px;">#FF7F50</td>
          </tr>
          <tr style="color: black; background-color: #ff6347;">
              <td style="width: 160px;">Tomato</td>
              <td style="width: 80px;">#FF6347</td>
          </tr>
          <tr style="color: black; background-color: #ff4500;">
              <td style="width: 160px;">OrangeRed</td>
              <td style="width: 80px;">#FF4500</td>
          </tr>
          <tr style="color: black; background-color: #ff8c00;">
              <td style="width: 160px;">DarkOrange</td>
              <td style="width: 80px;">#FF8C00</td>
          </tr>
          <tr style="color: black; background-color: orange;">
              <td style="width: 160px;">Orange</td>
              <td style="width: 80px;">#FFA500</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Yellow_Colors"></a>Yellow Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #ffd700;">
              <td style="width: 160px;">Gold</td>
              <td style="width: 80px;">#FFD700</td>
          </tr>
          <tr style="color: black; background-color: yellow;">
              <td style="width: 160px;">Yellow</td>
              <td style="width: 80px;">#FFFF00</td>
          </tr>
          <tr style="color: black; background-color: #ffffe0;">
              <td style="width: 160px;">LightYellow</td>
              <td style="width: 80px;">#FFFFE0</td>
          </tr>
          <tr style="color: black; background-color: #fffacd;">
              <td style="width: 160px;">LemonChiffon</td>
              <td style="width: 80px;">#FFFACD</td>
          </tr>
          <tr style="color: black; background-color: #fafad2;">
              <td style="width: 160px;">LightGoldenrodYellow</td>
              <td style="width: 80px;">#FAFAD2</td>
          </tr>
          <tr style="color: black; background-color: #ffefd5;">
              <td style="width: 160px;">PapayaWhip</td>
              <td style="width: 80px;">#FFEFD5</td>
          </tr>
          <tr style="color: black; background-color: #ffe4b5;">
              <td style="width: 160px;">Moccasin</td>
              <td style="width: 80px;">#FFE4B5</td>
          </tr>
          <tr style="color: black; background-color: #ffdab9;">
              <td style="width: 160px;">PeachPuff</td>
              <td style="width: 80px;">#FFDAB9</td>
          </tr>
          <tr style="color: black; background-color: #eee8aa;">
              <td style="width: 160px;">PaleGoldenrod</td>
              <td style="width: 80px;">#EEE8AA</td>
          </tr>
          <tr style="color: black; background-color: #f0e68c;">
              <td style="width: 160px;">Khaki</td>
              <td style="width: 80px;">#F0E68C</td>
          </tr>
          <tr style="color: black; background-color: #bdb76b;">
              <td style="width: 160px;">DarkKhaki</td>
              <td style="width: 80px;">#BDB76B</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Purple_Colors"></a>Purple Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #e6e6fa;">
              <td style="width: 160px;">Lavender</td>
              <td style="width: 80px;">#E6E6FA</td>
          </tr>
          <tr style="color: black; background-color: #d8bfd8;">
              <td style="width: 160px;">Thistle</td>
              <td style="width: 80px;">#D8BFD8</td>
          </tr>
          <tr style="color: black; background-color: #dda0dd;">
              <td style="width: 160px;">Plum</td>
              <td style="width: 80px;">#DDA0DD</td>
          </tr>
          <tr style="color: black; background-color: #ee82ee;">
              <td style="width: 160px;">Violet</td>
              <td style="width: 80px;">#EE82EE</td>
          </tr>
          <tr style="color: black; background-color: #da70d6;">
              <td style="width: 160px;">Orchid</td>
              <td style="width: 80px;">#DA70D6</td>
          </tr>
          <tr style="color: black; background-color: fuchsia;">
              <td style="width: 160px;">Fuchsia</td>
              <td style="width: 80px;">#FF00FF</td>
          </tr>
          <tr style="color: black; background-color: #ff00ff;">
              <td style="width: 160px;">Magenta</td>
              <td style="width: 80px;">#FF00FF</td>
          </tr>
          <tr style="color: black; background-color: #ba55d3;">
              <td style="width: 160px;">MediumOrchid</td>
              <td style="width: 80px;">#BA55D3</td>
          </tr>
          <tr style="color: black; background-color: #9370db;">
              <td style="width: 160px;">MediumPurple</td>
              <td style="width: 80px;">#9370DB</td>
          </tr>
          <tr style="color: white; background-color: #8a2be2;">
              <td style="width: 160px;">BlueViolet</td>
              <td style="width: 80px;">#8A2BE2</td>
          </tr>
          <tr style="color: white; background-color: #9400d3;">
              <td style="width: 160px;">DarkViolet</td>
              <td style="width: 80px;">#9400D3</td>
          </tr>
          <tr style="color: white; background-color: #9932cc;">
              <td style="width: 160px;">DarkOrchid</td>
              <td style="width: 80px;">#9932CC</td>
          </tr>
          <tr style="color: white; background-color: #8b008b;">
              <td style="width: 160px;">DarkMagenta</td>
              <td style="width: 80px;">#8B008B</td>
          </tr>
          <tr style="color: white; background-color: purple;">
              <td style="width: 160px;">Purple</td>
              <td style="width: 80px;">#800080</td>
          </tr>
          <tr style="color: white; background-color: #4b0082;">
              <td style="width: 160px;">Indigo</td>
              <td style="width: 80px;">#4B0082</td>
          </tr>
          <tr style="color: white; background-color: #6a5acd;">
              <td style="width: 160px;">SlateBlue</td>
              <td style="width: 80px;">#6A5ACD</td>
          </tr>
          <tr style="color: white; background-color: #483d8b;">
              <td style="width: 160px;">DarkSlateBlue</td>
              <td style="width: 80px;">#483D8B</td>
          </tr>
          <tr style="color: black; background-color: #7b68ee;">
              <td style="width: 160px;">MediumSlateBlue</td>
              <td style="width: 80px;">#7B68EE</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Green_Colors"></a>Green Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #adff2f;">
              <td style="width: 160px;">GreenYellow</td>
              <td style="width: 80px;">#ADFF2F</td>
          </tr>
          <tr style="color: black; background-color: #7fff00;">
              <td style="width: 160px;">Chartreuse</td>
              <td style="width: 80px;">#7FFF00</td>
          </tr>
          <tr style="color: black; background-color: #7cfc00;">
              <td style="width: 160px;">LawnGreen</td>
              <td style="width: 80px;">#7CFC00</td>
          </tr>
          <tr style="color: black; background-color: lime;">
              <td style="width: 160px;">Lime</td>
              <td style="width: 80px;">#00FF00</td>
          </tr>
          <tr style="color: black; background-color: #32cd32;">
              <td style="width: 160px;">LimeGreen</td>
              <td style="width: 80px;">#32CD32</td>
          </tr>
          <tr style="color: black; background-color: #98fb98;">
              <td style="width: 160px;">PaleGreen</td>
              <td style="width: 80px;">#98FB98</td>
          </tr>
          <tr style="color: black; background-color: #90ee90;">
              <td style="width: 160px;">LightGreen</td>
              <td style="width: 80px;">#90EE90</td>
          </tr>
          <tr style="color: black; background-color: #00fa9a;">
              <td style="width: 160px;">MediumSpringGreen</td>
              <td style="width: 80px;">#00FA9A</td>
          </tr>
          <tr style="color: black; background-color: #00ff7f;">
              <td style="width: 160px;">SpringGreen</td>
              <td style="width: 80px;">#00FF7F</td>
          </tr>
          <tr style="color: black; background-color: #3cb371;">
              <td style="width: 160px;">MediumSeaGreen</td>
              <td style="width: 80px;">#3CB371</td>
          </tr>
          <tr style="color: black; background-color: #2e8b57;">
              <td style="width: 160px;">SeaGreen</td>
              <td style="width: 80px;">#2E8B57</td>
          </tr>
          <tr style="color: black; background-color: #228b22;">
              <td style="width: 160px;">ForestGreen</td>
              <td style="width: 80px;">#228B22</td>
          </tr>
          <tr style="color: white; background-color: green;">
              <td style="width: 160px;">Green</td>
              <td style="width: 80px;">#008000</td>
          </tr>
          <tr style="color: white; background-color: #006400;">
              <td style="width: 160px;">DarkGreen</td>
              <td style="width: 80px;">#006400</td>
          </tr>
          <tr style="color: black; background-color: #9acd32;">
              <td style="width: 160px;">YellowGreen</td>
              <td style="width: 80px;">#9ACD32</td>
          </tr>
          <tr style="color: black; background-color: #6b8e23;">
              <td style="width: 160px;">OliveDrab</td>
              <td style="width: 80px;">#6B8E23</td>
          </tr>
          <tr style="color: black; background-color: olive;">
              <td style="width: 160px;">Olive</td>
              <td style="width: 80px;">#808000</td>
          </tr>
          <tr style="color: white; background-color: #556b2f;">
              <td style="width: 160px;">DarkOliveGreen</td>
              <td style="width: 80px;">#556B2F</td>
          </tr>
          <tr style="color: black; background-color: #66cdaa;">
              <td style="width: 160px;">MediumAquamarine</td>
              <td style="width: 80px;">#66CDAA</td>
          </tr>
          <tr style="color: black; background-color: #8fbc8f;">
              <td style="width: 160px;">DarkSeaGreen</td>
              <td style="width: 80px;">#8FBC8F</td>
          </tr>
          <tr style="color: black; background-color: #20b2aa;">
              <td style="width: 160px;">LightSeaGreen</td>
              <td style="width: 80px;">#20B2AA</td>
          </tr>
          <tr style="color: black; background-color: #008b8b;">
              <td style="width: 160px;">DarkCyan</td>
              <td style="width: 80px;">#008B8B</td>
          </tr>
          <tr style="color: white; background-color: teal;">
              <td style="width: 160px;">Teal</td>
              <td style="width: 80px;">#008080</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Blue_Colors"></a>Blue Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: aqua;">
              <td style="width: 160px;">Aqua</td>
              <td style="width: 80px;">#00FFFF</td>
          </tr>
          <tr style="color: black; background-color: #00ffff;">
              <td style="width: 160px;">Cyan</td>
              <td style="width: 80px;">#00FFFF</td>
          </tr>
          <tr style="color: black; background-color: #e0ffff;">
              <td style="width: 160px;">LightCyan</td>
              <td style="width: 80px;">#E0FFFF</td>
          </tr>
          <tr style="color: black; background-color: #afeeee;">
              <td style="width: 160px;">PaleTurquoise</td>
              <td style="width: 80px;">#AFEEEE</td>
          </tr>
          <tr style="color: black; background-color: #7fffd4;">
              <td style="width: 160px;">Aquamarine</td>
              <td style="width: 80px;">#7FFFD4</td>
          </tr>
          <tr style="color: black; background-color: #40e0d0;">
              <td style="width: 160px;">Turquoise</td>
              <td style="width: 80px;">#40E0D0</td>
          </tr>
          <tr style="color: black; background-color: #48d1cc;">
              <td style="width: 160px;">MediumTurquoise</td>
              <td style="width: 80px;">#48D1CC</td>
          </tr>
          <tr style="color: black; background-color: #00ced1;">
              <td style="width: 160px;">DarkTurquoise</td>
              <td style="width: 80px;">#00CED1</td>
          </tr>
          <tr style="color: black; background-color: #5f9ea0;">
              <td style="width: 160px;">CadetBlue</td>
              <td style="width: 80px;">#5F9EA0</td>
          </tr>
          <tr style="color: black; background-color: #4682b4;">
              <td style="width: 160px;">SteelBlue</td>
              <td style="width: 80px;">#4682B4</td>
          </tr>
          <tr style="color: black; background-color: #b0c4de;">
              <td style="width: 160px;">LightSteelBlue</td>
              <td style="width: 80px;">#B0C4DE</td>
          </tr>
          <tr style="color: black; background-color: #b0e0e6;">
              <td style="width: 160px;">PowderBlue</td>
              <td style="width: 80px;">#B0E0E6</td>
          </tr>
          <tr style="color: black; background-color: #add8e6;">
              <td style="width: 160px;">LightBlue</td>
              <td style="width: 80px;">#ADD8E6</td>
          </tr>
          <tr style="color: black; background-color: #87ceeb;">
              <td style="width: 160px;">SkyBlue</td>
              <td style="width: 80px;">#87CEEB</td>
          </tr>
          <tr style="color: black; background-color: #87cefa;">
              <td style="width: 160px;">LightSkyBlue</td>
              <td style="width: 80px;">#87CEFA</td>
          </tr>
          <tr style="color: black; background-color: #00bfff;">
              <td style="width: 160px;">DeepSkyBlue</td>
              <td style="width: 80px;">#00BFFF</td>
          </tr>
          <tr style="color: black; background-color: #1e90ff;">
              <td style="width: 160px;">DodgerBlue</td>
              <td style="width: 80px;">#1E90FF</td>
          </tr>
          <tr style="color: black; background-color: #6495ed;">
              <td style="width: 160px;">CornflowerBlue</td>
              <td style="width: 80px;">#6495ED</td>
          </tr>
          <tr style="color: black; background-color: #7b68ee;">
              <td style="width: 160px;">MediumSlateBlue</td>
              <td style="width: 80px;">#7B68EE</td>
          </tr>
          <tr style="color: white; background-color: #4169e1;">
              <td style="width: 160px;">RoyalBlue</td>
              <td style="width: 80px;">#4169E1</td>
          </tr>
          <tr style="color: white; background-color: blue;">
              <td style="width: 160px;">Blue</td>
              <td style="width: 80px;">#0000FF</td>
          </tr>
          <tr style="color: white; background-color: #0000cd;">
              <td style="width: 160px;">MediumBlue</td>
              <td style="width: 80px;">#0000CD</td>
          </tr>
          <tr style="color: white; background-color: #00008b;">
              <td style="width: 160px;">DarkBlue</td>
              <td style="width: 80px;">#00008B</td>
          </tr>
          <tr style="color: white; background-color: navy;">
              <td style="width: 160px;">Navy</td>
              <td style="width: 80px;">#000080</td>
          </tr>
          <tr style="color: white; background-color: #191970;">
              <td style="width: 160px;">MidnightBlue</td>
              <td style="width: 80px;">#191970</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Brown_Colors"></a>Brown Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #fff8dc;">
              <td style="width: 160px;">Cornsilk</td>
              <td style="width: 80px;">#FFF8DC</td>
          </tr>
          <tr style="color: black; background-color: #ffebcd;">
              <td style="width: 160px;">BlanchedAlmond</td>
              <td style="width: 80px;">#FFEBCD</td>
          </tr>
          <tr style="color: black; background-color: #ffe4c4;">
              <td style="width: 160px;">Bisque</td>
              <td style="width: 80px;">#FFE4C4</td>
          </tr>
          <tr style="color: black; background-color: #ffdead;">
              <td style="width: 160px;">NavajoWhite</td>
              <td style="width: 80px;">#FFDEAD</td>
          </tr>
          <tr style="color: black; background-color: #f5deb3;">
              <td style="width: 160px;">Wheat</td>
              <td style="width: 80px;">#F5DEB3</td>
          </tr>
          <tr style="color: black; background-color: #deb887;">
              <td style="width: 160px;">BurlyWood</td>
              <td style="width: 80px;">#DEB887</td>
          </tr>
          <tr style="color: black; background-color: #d2b48c;">
              <td style="width: 160px;">Tan</td>
              <td style="width: 80px;">#D2B48C</td>
          </tr>
          <tr style="color: black; background-color: #bc8f8f;">
              <td style="width: 160px;">RosyBrown</td>
              <td style="width: 80px;">#BC8F8F</td>
          </tr>
          <tr style="color: black; background-color: #f4a460;">
              <td style="width: 160px;">SandyBrown</td>
              <td style="width: 80px;">#F4A460</td>
          </tr>
          <tr style="color: black; background-color: #daa520;">
              <td style="width: 160px;">Goldenrod</td>
              <td style="width: 80px;">#DAA520</td>
          </tr>
          <tr style="color: black; background-color: #b8860b;">
              <td style="width: 160px;">DarkGoldenrod</td>
              <td style="width: 80px;">#B8860B</td>
          </tr>
          <tr style="color: black; background-color: #cd853f;">
              <td style="width: 160px;">Peru</td>
              <td style="width: 80px;">#CD853F</td>
          </tr>
          <tr style="color: black; background-color: #d2691e;">
              <td style="width: 160px;">Chocolate</td>
              <td style="width: 80px;">#D2691E</td>
          </tr>
          <tr style="color: white; background-color: #8b4513;">
              <td style="width: 160px;">SaddleBrown</td>
              <td style="width: 80px;">#8B4513</td>
          </tr>
          <tr style="color: white; background-color: #a0522d;">
              <td style="width: 160px;">Sienna</td>
              <td style="width: 80px;">#A0522D</td>
          </tr>
          <tr style="color: white; background-color: #a52a2a;">
              <td style="width: 160px;">Brown</td>
              <td style="width: 80px;">#A52A2A</td>
          </tr>
          <tr style="color: white; background-color: maroon;">
              <td style="width: 160px;">Maroon</td>
              <td style="width: 80px;">#800000</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="White_Colors"></a>White Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: white;">
              <td style="width: 160px;">White</td>
              <td style="width: 80px;">#FFFFFF</td>
          </tr>
          <tr style="color: black; background-color: #fffafa;">
              <td style="width: 160px;">Snow</td>
              <td style="width: 80px;">#FFFAFA</td>
          </tr>
          <tr style="color: black; background-color: #f0fff0;">
              <td style="width: 160px;">Honeydew</td>
              <td style="width: 80px;">#F0FFF0</td>
          </tr>
          <tr style="color: black; background-color: #f5fffa;">
              <td style="width: 160px;">MintCream</td>
              <td style="width: 80px;">#F5FFFA</td>
          </tr>
          <tr style="color: black; background-color: #f0ffff;">
              <td style="width: 160px;">Azure</td>
              <td style="width: 80px;">#F0FFFF</td>
          </tr>
          <tr style="color: black; background-color: #f0f8ff;">
              <td style="width: 160px;">AliceBlue</td>
              <td style="width: 80px;">#F0F8FF</td>
          </tr>
          <tr style="color: black; background-color: #f8f8ff;">
              <td style="width: 160px;">GhostWhite</td>
              <td style="width: 80px;">#F8F8FF</td>
          </tr>
          <tr style="color: black; background-color: #f5f5f5;">
              <td style="width: 160px;">WhiteSmoke</td>
              <td style="width: 80px;">#F5F5F5</td>
          </tr>
          <tr style="color: black; background-color: #fff5ee;">
              <td style="width: 160px;">Seashell</td>
              <td style="width: 80px;">#FFF5EE</td>
          </tr>
          <tr style="color: black; background-color: #f5f5dc;">
              <td style="width: 160px;">Beige</td>
              <td style="width: 80px;">#F5F5DC</td>
          </tr>
          <tr style="color: black; background-color: #fdf5e6;">
              <td style="width: 160px;">OldLace</td>
              <td style="width: 80px;">#FDF5E6</td>
          </tr>
          <tr style="color: black; background-color: #fffaf0;">
              <td style="width: 160px;">FloralWhite</td>
              <td style="width: 80px;">#FFFAF0</td>
          </tr>
          <tr style="color: black; background-color: #fffff0;">
              <td style="width: 160px;">Ivory</td>
              <td style="width: 80px;">#FFFFF0</td>
          </tr>
          <tr style="color: black; background-color: #faebd7;">
              <td style="width: 160px;">AntiqueWhite</td>
              <td style="width: 80px;">#FAEBD7</td>
          </tr>
          <tr style="color: black; background-color: #faf0e6;">
              <td style="width: 160px;">Linen</td>
              <td style="width: 80px;">#FAF0E6</td>
          </tr>
          <tr style="color: black; background-color: #fff0f5;">
              <td style="width: 160px;">LavenderBlush</td>
              <td style="width: 80px;">#FFF0F5</td>
          </tr>
          <tr style="color: black; background-color: #ffe4e1;">
              <td style="width: 160px;">MistyRose</td>
              <td style="width: 80px;">#FFE4E1</td>
          </tr>
      </tbody>
  </table>
  <br />
  <h3><a name="Gray_Colors"></a>Gray Colors</h3>
  <table style="background-color: #d3d3d3;">
      <tbody>
          <tr style="color: black; background-color: #dcdcdc;">
              <td style="width: 160px;">Gainsboro</td>
              <td style="width: 80px;">#DCDCDC</td>
          </tr>
          <tr style="color: black; background-color: #d3d3d3;">
              <td style="width: 160px;">LightGray</td>
              <td style="width: 80px;">#D3D3D3</td>
          </tr>
          <tr style="color: black; background-color: silver;">
              <td style="width: 160px;">Silver</td>
              <td style="width: 80px;">#C0C0C0</td>
          </tr>
          <tr style="color: black; background-color: #a9a9a9;">
              <td style="width: 160px;">DarkGray</td>
              <td style="width: 80px;">#A9A9A9</td>
          </tr>
          <tr style="color: black; background-color: gray;">
              <td style="width: 160px;">Gray</td>
              <td style="width: 80px;">#808080</td>
          </tr>
          <tr style="color: white; background-color: #696969;">
              <td style="width: 160px;">DimGray</td>
              <td style="width: 80px;">#696969</td>
          </tr>
          <tr style="color: black; background-color: #778899;">
              <td style="width: 160px;">LightSlateGray</td>
              <td style="width: 80px;">#778899</td>
          </tr>
          <tr style="color: black; background-color: #708090;">
              <td style="width: 160px;">SlateGray</td>
              <td style="width: 80px;">#708090</td>
          </tr>
          <tr style="color: white; background-color: #2f4f4f;">
              <td style="width: 160px;">DarkSlateGray</td>
              <td style="width: 80px;">#2F4F4F</td>
          </tr>
          <tr style="color: white; background-color: black;">
              <td style="width: 160px;">Black</td>
              <td style="width: 80px;">#000000</td>
          </tr>
      </tbody>
  </table>
  <br />
  <div>
      <a style="float: left;" routerLink = '../appendixA' title="Previous Appendix">Appendix A: Samples</a>
      <a style="float: right;" routerLink = '../' title="Back To Tutorials Page">Back To Tutorials Page</a>
  </div>
</div>
