.object, .event, .operation, .property, .keyword {
  background-repeat: no-repeat;
  padding-left: 1.3em;
  display: block;
  background-size: 1em;
  background-position-y: center;
}

.object {
    background-image: url(/assets/documentation/object.png);
}

.event {
    background-image: url(/assets/documentation/event.png);
}

.operation {
  background-image: url(/assets/documentation/operation.png);
  word-break: break-all;
}

.property {
  background-image: url(/assets/documentation/property.png);
}

.keyword {
  background-image: url(/assets/documentation/keyword.png);
}

.left-nav li.active-link .left-nav-submenu {
  list-style: none;
  padding-left: 25px;
}

h3,h4 {
  margin: 5px 0 0 0;
}

.docSubtype {
  padding: 10px;
  border-top: 1px solid #689800;
  margin: 15px;
}

.docChild {
  margin: 2px 0 0 15px;
}

.description {
  padding-left: 2em;
}

.summaryHeader {
  font-weight: bold;
  margin-top: 5px;
}

label {
  padding: 5px;
}