<div id="contentWrapper">
  <mat-card *ngFor="let topic of topics; index as i"
            [ngStyle]="topic.image?{'background-image': 'url('+ topic.image +
            ')', 'background-color': 'black'} : {}">
    <mat-card-title *ngIf="topic.subject"><h3>{{topic.subject}}</h3></mat-card-title>
    <mat-card-content>
      <div *ngFor="let resource of topic.resources">
        <ng-container *ngIf="resource.link.startsWith('/'); else external">          
          <a routerLink="{{resource.link}}">{{resource.description}}</a>
        </ng-container>
        <ng-template #external>
          <a href="{{resource.link}}" target="_blank">{{resource.description}}</a>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card id="featuredPrograms">
    <app-programs></app-programs>
  </mat-card>
</div>
