<div>
  <div *ngFor="let topic of topics; index as i">
    <h3>{{topic.subject}}</h3>

    <div *ngFor="let program of topic.programs" class="row">
      <div class="col">
        <h4>{{program.name}}</h4>
        <img src={{program.src}} alt={{program.alt}} title={{program.title}}>
      </div>
    </div>

    <div *ngFor="let program of topic.programs" class="row">
      <div class="col">
        <p>{{program.description}}</p>
        <a href={{program.link}} class="prog-btn">Check it out</a>
        <p>
          Import ID = <b>{{program.importID}}</b>
        </p>
      </div>
    </div>
  </div>

  <br />
  Want to see your programs featured here?
  <a href="https://social.msdn.microsoft.com/Forums/en-US/aabdea40-0b24-428a-a830-9ab63ba9f076/nominate-games-or-other-programs-here-to-get-featured-on-our-blog-part-3?forum=smallbasic" title="Submit Here" class="prog-btn">Submit here!</a>

</div>
