.prog-btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #6fa300;
  border: 1px solid;
  border-color: #357ebd;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
}
.prog-grid {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.prog-grid .prog-cell img {
  max-width: 100%;
}

.prog-cell {
margin: 1rem;
}
.prog-cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .prog-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .prog-cell {
    width: calc(50% - 2rem);
    align-self: flex-start;
  }

  @media screen and (min-width: 1000px) {
    .prog-cell {
      width: calc(33.333% - 2rem);
    }
  }
}
