<div class="container mrg-top20 sb-main-container" style="margin-bottom: 50px">
  <h2>Appendix A: Fun Samples</h2>
  <div
    class="table-of-contents"
    style="background-color: #eee; border: 1px; padding: 10px; display: inline-block; max-width: 450px"
  >
    <h3 class="title" style="border-bottom: medium none; padding-top: 0">
      Table of Contents
    </h3>
    <div class="hierarchy-list-header"></div>
    <ul class="hierarchy-list" style="margin: 0; padding: 11px">
      <li class="hierarchy-item">
        <a href="#Turtle_Fractal">Turtle Fractal</a>
      </li>
      <li class="hierarchy-item">
        <a href="#Photos_from_Flickr">Photos from Flickr</a>
      </li>
      <li class="hierarchy-item">
        <a href="#Dynamic_Desktop_Wallpaper">Dynamic Desktop Wallpaper</a>
      </li>
      <li class="hierarchy-item"><a href="#Paddle_Game">Paddle Game</a></li>
    </ul>
    <div class="hierarchy-list-footer"></div>
  </div>
  <br />
  <br />
  &nbsp;
  <table class="multicol">
    <tbody>
      <tr>
        <td valign="top">
          <div class="BostonPostCard">
            <h3><a name="Turtle_Fractal"></a>Turtle Fractal</h3>
            <p style="text-align: center;">
              <img
                width="465"
                height="350"
                title="Figure A.1 - Turtle drawing a tree fractal"
                alt="Figure A.1 - Turtle drawing a tree fractal"
                src="../../../../assets/tutorial/samples/1-turtle-fractal.jpg"
              />
            </p>
            <p style="text-align: center; margin-bottom: 20px;">
              <strong>Figure A.1 - Turtle drawing a tree fractal</strong>
            </p>
          </div>
          <div class="CodeHighlighter">
            <pre><code class="visual basic">angle = 30
delta = 10
distance = 60
Turtle.Speed = 9
GraphicsWindow.BackgroundColor = &quot;Black&quot;
GraphicsWindow.PenColor = &quot;LightGreen&quot;
DrawTree()

Sub DrawTree
If (distance &gt; 0) Then
Turtle.Move(distance)
Turtle.Turn(angle)

Stack.PushValue(&quot;distance&quot;, distance)
distance = distance - delta
DrawTree()
Turtle.Turn(-angle * 2)
DrawTree()
Turtle.Turn(angle)
distance = Stack.PopValue(&quot;distance&quot;)

Turtle.Move(-distance)
EndIf
EndSub</code></pre>
          </div>
          <div class="BostonPostCard">
            <p>&nbsp;</p>
            <h3 style="margin-top: 10px;">
              <a name="Photos_from_Flickr"></a>Photos from Flickr
            </h3>
            <p style="text-align: center;">
              <img
                width="465"
                height="350"
                title="Figure A.2 - Retrieving pictures from Flickr"
                alt="Figure A.2 - Retrieving pictures from Flickr"
                src="http://i.msdn.microsoft.com/gg605178.Retrieving_pictures_from_Flickr(en-us,MSDN.10).jpg"
              />
            </p>
            <p style="text-align: center; margin-bottom: 20px;">
              <strong>Figure A.2 - Retrieving pictures from Flickr</strong>
            </p>
          </div>
          <div class="CodeHighlighter">
            <pre><code class="visual basic">GraphicsWindow.BackgroundColor = &quot;Black&quot;
GraphicsWindow.MouseDown = OnMouseDown

Sub OnMouseDown
pic = Flickr.GetRandomPicture(&quot;mountains, river&quot;)
GraphicsWindow.DrawResizedImage(pic, 0, 0, 640, 480)
EndSub</code></pre>
          </div>
          <div class="BostonPostCard">
            <p>&nbsp;</p>
            <h3 style="margin-top: 10px; margin-bottom: 20px;">
              <a name="Dynamic_Desktop_Wallpaper"></a>Dynamic Desktop Wallpaper
            </h3>
          </div>
          <div class="CodeHighlighter">
            <pre><code class="visual basic">For i = 1 To 10
pic = Flickr.GetRandomPicture(&quot;mountains&quot;)
Desktop.SetWallPaper(pic)
Program.Delay(10000)
EndFor</code></pre>
          </div>
          <div class="BostonPostCard">
            <p>&nbsp;</p>
            <h3 style="margin-top: 10px;">
              <a name="Paddle_Game"></a>Paddle Game
            </h3>
            <p>Keep the ball up by moving the paddle left and right</p>
            <p style="text-align: center;">
              <img
                width="465"
                height="350"
                title="Figure A.3 - Paddle Game"
                alt="Figure A.3 - Paddle Game"
                src="../../../../assets/tutorial/samples/3-paddle-game.jpg"
              />
            </p>
            <p style="text-align: center; margin-bottom: 20px;">
              <strong>Figure A.3 - Paddle Game</strong>
            </p>
          </div>
          <div class="CodeHighlighter">
            <pre><code class="visual basic">GraphicsWindow.BackgroundColor = &quot;DarkBlue&quot;
paddle = Shapes.AddRectangle(120, 12)
ball = Shapes.AddEllipse(16, 16)
GraphicsWindow.MouseMove = OnMouseMove

x = 0
y = 0
deltaX = 1
deltaY = 1

RunLoop:
x = x &#43; deltaX
y = y &#43; deltaY

gw = GraphicsWindow.Width
gh = GraphicsWindow.Height
If (x &gt;= gw - 16 or x &lt;= 0) Then
deltaX = -deltaX
EndIf
If (y &lt;= 0) Then
deltaY = -deltaY
EndIf

padX = Shapes.GetLeft (paddle)
If (y = gh - 28 and x &gt;= padX and x &lt;= padX &#43; 120) Then
deltaY = -deltaY
EndIf

Shapes.Move(ball, x, y)
Program.Delay(5)

If (y &lt; gh) Then
Goto RunLoop
EndIf

GraphicsWindow.ShowMessage(&quot;You Lose&quot;, &quot;Paddle&quot;)

Sub OnMouseMove
paddleX = GraphicsWindow.MouseX
Shapes.Move(paddle, paddleX - 60, GraphicsWindow.Height - 12)
EndSub</code></pre>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="text-align: right; margin-right: 50px;">
    <br />
    &nbsp;
  </p>
  <div>
    <a style="float: left;" href="/tutorials/chapter11" title="Previous Chapter"
      >Previous Chapter: Events</a
    >
    <a style="float: right;" href="/tutorials/appendixB" title="Appendix"
      >Appendix B: Colors</a
    >
  </div>
</div>
