<div class="cls_004"><span id='chapterTitle' class="cls_004">Chapter 2</span></div>
<div class="cls_005">
  <span class="cls_005">Understanding Our First Program</span>
</div>

<div class="cls_006">
  <span class="cls_006">What really is a computer program?</span>
</div>

<div class="cls_007">
  <span class="cls_007"
    >A program is a set of instructions for the computer. These instructions
    tell the computer precisely what to do, and the computer always follows
    these instructions. Just like people, computers can only follow instructions
    if specified in a language they can understand. These are called programming
    languages. There are very many languages that the computer can understand
    and
  </span>
  <span class="cls_009">Small Basic</span>
  <span class="cls_007">
    is one. Imagine a conversation happening between you and your friend. You
    and your friends would use words,
  </span>
  <span class="cls_007"
    >organized as sentences to convey information back and forth. Similarly,
    programming languages contain</span
  >
</div>

<div class="cls_007">
  <span class="cls_007"
    >collections of words that can be organized into sentences that convey
    information to the computer. And programs are basically sets of sentences
    (sometimes just a few and sometimes many thousands)</span
  >
</div>
<div class="cls_007">
  <span class="cls_007">that together make sense to both the</span>
</div>

<div class="cls_012">
  <span class="cls_012">There are many languages that the computer</span>
</div>

<div class="cls_007">
  <span class="cls_007">programmer and the computer alike.</span>
</div>
<div class="cls_012">
  <span class="cls_012">can understand. Java, C++, Python, VB, etc. are</span>
</div>
<div class="cls_012">
  <span class="cls_012">all powerful modern computer languages that</span>
</div>

<div class="cls_006"><span class="cls_006">Small Basic Programs</span></div>
<div class="cls_012">
  <span class="cls_012">are used to develop simple to complex software</span>
</div>
<div class="cls_007">
  <span class="cls_007">A typical Small Basic program consists of a bunch</span>
</div>
<div class="cls_012"><span class="cls_012">programs.</span></div>

<div class="cls_007">
  <span class="cls_007">of </span><span class="cls_010">statements</span
  ><span class="cls_007"
    >. Every line of the program represents a statement and every statement is
    an instruction for the computer. When we ask the computer to execute a Small
    Basic program, it takes the program and reads the first statement. It
    understands what we’re trying to say and then executes our instruction͘ Once
    it’s done executing our first statement, it comes back to the program and
    reads and executes the second line. It continues to do so until it reaches
    the end of the program. That is when our program finishes.</span
  >
</div>

<div>
  <div style="left:0px;top:0px">
    <img
      src="4eb7fd24-acbd-11e9-9d71-0cc47a792c0a_id_4eb7fd24-acbd-11e9-9d71-0cc47a792c0a_files/background07.jpg"
    />
  </div>

  <div class="cls_006">
    <span class="cls_006">Back to Our First Program</span>
  </div>
  <div class="cls_007">
    <span class="cls_007">Here is the first program we wrote:</span>
  </div>
  <div class="cls_011">
    <span class="cls_011">TextWindow.WriteLine("Hello World")</span>
  </div>
</div>

<div class="cls_007">
  <span class="cls_007"
    >This is a very simple program that consists of one </span
  ><span class="cls_010">statement</span
  ><span class="cls_007"
    >. That statement tells the computer to write a line of text which is </span
  ><span class="cls_009">Hello World</span
  ><span class="cls_007"
    >, into the Text Window. It literally translates in the computer’s mind to:
    Write</span
  ><span class="cls_011"> </span
  ><span class="cls_014"
    >Hello World You might have already noticed that the statement can in turn
    be split into smaller segments much like sentences can be split into words.
    In the first statement we have 3 distinct segments: a) TextWindow b)
    WriteLine c) “Hello World” The dot, parentheses and the quotes are all
    punctuations that have to be placed at appropriate positions in the
    statement, for the computer to understand our intent. You might remember the
    black window that appeared when we ran our first program. That black window
    is called the TextWindow or sometimes referred to as the Console. That is
    where the result of this program goes. </span
  ><span class="cls_009">TextWindow</span
  ><span class="cls_007">, in our program, is called an </span
  ><span class="cls_010">object</span
  ><span class="cls_007"
    >. There are a number of such objects available for us to use in our
    programs. We can perform several different </span
  ><span class="cls_010">operations</span
  ><span class="cls_007"> on these objects. We’ve already used the</span
  ><span class="cls_010">WriteLine </span
  ><span class="cls_007"
    >operation in our program. You might also have noticed that the WriteLine
    operation is followed by </span
  ><span class="cls_009">Hello</span>
</div>

<div class="cls_009">
  <span class="cls_009">World</span
  ><span class="cls_007"> inside quotes. This text is passed as input</span>
</div>
<div class="cls_012">
  <span class="cls_012">Punctuations such as quotes, spaces and</span>
</div>
<div class="cls_007">
  <span class="cls_007">to the WriteLine operation, which it then prints</span>
</div>
<div class="cls_012">
  <span class="cls_012">parenthesis are very important in a computer</span>
</div>
<div class="cls_007">
  <span class="cls_007">out to the user. This is called an </span
  ><span class="cls_010">input </span><span class="cls_007">to the</span>
</div>
<div class="cls_012">
  <span class="cls_012">program. Based on their position and count,</span>
</div>
<div class="cls_007">
  <span class="cls_007">operation. Some operations take one or more</span>
</div>
<div class="cls_012">
  <span class="cls_012">they can change the meaning of what is being</span>
</div>
<div class="cls_007">
  <span class="cls_007">inputs while others don’t take any͘</span>
</div>
<div class="cls_012"><span class="cls_012">expressed.</span></div>
<div class="cls_006"><span class="cls_006">Our Second Program</span></div>
<div class="cls_007">
  <span class="cls_007"
    >Now that you have understood our first program, let’s go ahead and make it
    fancier by adding some</span
  >
</div>
<div class="cls_007"><span class="cls_007">colors.</span></div>
<div class="cls_011">
  <span class="cls_011">TextWindow.ForegroundColor = "Yellow"</span>
</div>
<div class="cls_011">
  <span class="cls_011">TextWindow.WriteLine("Hello World")</span>
</div>
<div>
  <div style="left:0px;top:0px">
    <img
      src="4eb7fd24-acbd-11e9-9d71-0cc47a792c0a_id_4eb7fd24-acbd-11e9-9d71-0cc47a792c0a_files/background08.jpg"
    />
  </div>

  <div class="cls_008">
    <span class="cls_008">Figure 5 - Adding Colors</span>
  </div>

  <div class="cls_007">
    <span class="cls_007"
      >When you run the above program, you’ll notice that it prints out the same
      “Hello World” phrase inside</span
    >
  </div>
  <div class="cls_007">
    <span class="cls_007"
      >TextWindow, but this time it prints it out in yellow instead of the gray
      that it did earlier.</span
    >
  </div>

  <div class="cls_008">
    <span class="cls_008">Figure 6 - Hello World in Yellow</span>
  </div>
</div>

<div class="cls_007">
  <span class="cls_007"
    >Notice the new statement we added to our original program. It uses a new
    word, </span
  ><span class="cls_010">ForegroundColor which we equated to a value of </span
  ><span class="cls_010">“Yellow.”</span><span class="cls_016"> </span
  ><span class="cls_007">This</span><span class="cls_016"> </span
  ><span class="cls_007">means we’ve </span><span class="cls_010">assigned</span
  ><span class="cls_007"> “Yellow” to </span
  ><span class="cls_010"
    >ForegroundColor. Now, the difference between ForegroundColor and the
    operation WriteLine is that ForegroundColor did not take any inputs nor did
    it need any parenthesis. Instead it was followed by an </span
  ><span class="cls_010">equals to</span
  ><span class="cls_007">
    symbol and a word. We define ForegroundColor as a </span
  ><span class="cls_010">Property</span
  ><span class="cls_007">
    of TextWindow. Here is a list of values that are valid for the
    ForegroundColor property. Try replacing “Yellow” with one of these and see
    the results - don’t forget the quotes, they are required punctuations.</span
  >
</div>

<div class="cls_011"><span class="cls_011">Black</span></div>
<div class="cls_011"><span class="cls_011">Blue</span></div>
<div class="cls_011"><span class="cls_011">Cyan</span></div>
<div class="cls_011"><span class="cls_011">Gray</span></div>
<div class="cls_011"><span class="cls_011">Green</span></div>
<div class="cls_011"><span class="cls_011">Magenta</span></div>
<div class="cls_011"><span class="cls_011">Red</span></div>
<div class="cls_011"><span class="cls_011">White</span></div>

<div>
  <img
    src="4eb7fd24-acbd-11e9-9d71-0cc47a792c0a_id_4eb7fd24-acbd-11e9-9d71-0cc47a792c0a_files/background09.jpg"
  />
</div>

<div class="cls_011"><span class="cls_011">Yellow</span></div>
<div class="cls_011"><span class="cls_011">DarkBlue</span></div>
<div class="cls_011"><span class="cls_011">DarkCyan</span></div>
<div class="cls_011"><span class="cls_011">DarkGray</span></div>
<div class="cls_011"><span class="cls_011">DarkGreen</span></div>
<div class="cls_011"><span class="cls_011">DarkMagenta</span></div>
<div class="cls_011"><span class="cls_011">DarkRed</span></div>
<div class="cls_011"><span class="cls_011">DarkYellow</span></div>

<div>
  <a style="float: left;" routerLink="../chapter1" title="Previous Chapter"
    >Previous Chapter: Getting Started</a
  >
  <a style="float: right;" routerLink="../chapter3"  title="Next Chapter"
    >Next Chapter: Variables</a
  >
</div>
