@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.right-picture, .left-picture {
    max-height: 8em;
    max-width: 50%;
    margin: .5em 1em;
    box-shadow: 0 0 5px 5px lightgrey;
}

.right-picture {
    float: right;
}

.left-picture {
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    color: #567d00; 
}

#contentWrapper {
  background: white;
  padding-top: 30px;
  padding-left: 10%;
  padding-bottom: 30px;
  padding-right: 10%;
  align-self: center;
  width: 80%;
}

.left-nav-and-right-content {
  display: flex;
  flex-wrap: wrap;
}

.left-nav {
  padding: 5px;
  background-color: #f3f3f3;
  width: 20%;
  min-width: 200px;
}

  .left-nav h3 {
    margin: 0;
    padding: 5px;
  }

  .left-nav > ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
  }

    .left-nav > ul > li {
      padding-left: 10px;
      margin: 5px 0 5px 0;
    }

  .left-nav a {
    text-decoration: none;
    color: inherit;
  }

.left-nav-submenu {
  visibility: hidden;
  height: 0;
}

.left-nav li.active-link {
  color: #567d00;
  background: #f8f8f8;
  border-left: 5px solid #567d00;
  padding-left: 5px !important;
}

  .left-nav li.active-link .left-nav-submenu {
    visibility: visible;
    height: auto;
  }

.right-content {
  padding: 5px;
  width: 50%;
  flex-grow: 1;
}

.mat-card {
  flex: 1;
  min-height: 10em;
  min-width: 10em;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

/*Styles for sbcode pipe output*/
.sb-code {
  font-family: monospace;
  font-size: 1.3em;
  font-weight: normal;
}

.sb-keyword {
  font-weight: bold;
  color: mediumpurple !important;
}

.sb-object {
  color: seagreen !important;
}

.sb-propertyOrEvent {
  color: darkred !important;
}

.sb-param {
  color: orangered !important;
}