:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#banner {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-top: 30px;    
    background-color: #6fa300;
    background: linear-gradient(
        to bottom, 
        #6fa300 0%, 
        #6fa300 80%, 
        #588200 90%, 
        #588200 100%
    );
    padding-left: 5%;
    padding-right: 5%;
}

#banner img {
  max-width: 30vw;
  max-height: 50vh;
}

#banner #banner-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#banner #banner-buttons a {
    border: 2px solid white;
    color: white;
    margin: 20px;
    background: #00000014;
}

::ng-deep #banner .mat-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.5em;
}

#banner #banner-buttons .fa {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 40px;
    margin-right: 20px;
    border: 2px solid;
    border-radius: inherit;
}

.button-headline {
  font-weight: bold;
  font-size: larger;
}

#banner #banner-buttons .fa-arrow-down {
  text-decoration: underline;
  border-color: transparent;
}

#content {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    flex-grow: 1;
    background: linear-gradient( to right, white 0%, white 50%, #f3f3f3 50%, #f3f3f3 100% );
}

#content > div {
    padding: 10px;
}

#welcome {
    flex-basis: 50vw;
    background-color: white;
}

#welcome h2 {
    clear: both;
}

#sidebar {
    background-color: #f3f3f3;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar ul {
    list-style: none;
    padding-left: 0;
}

#sidebar li {
    border-bottom: 2px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#sidebar .byline {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}

#sidebar .indent {
    margin: 10px;
}

#sidebar > div > a {
    float: right;
}

@media (max-width: 600px) {
    #content {
      flex-wrap: wrap;
    }

    #welcome, #sidebar {
        flex-grow: 1;
        max-width: none;
    }
}


#socMedia {
  left: 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  float: left !important;
  border-radius: 50%;
  margin: 1px;
}
.fa:hover {
    opacity: 0.7;   
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-windows {
  background: #0067b8;
  color: white;
} 

