:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-top: 30px;    
    background-color: #6fa300;
    background: linear-gradient(
        to bottom, 
        #6fa300 0%, 
        #6fa300 80%, 
        #588200 90%, 
        #588200 100%
    );
}

#banner img {
    max-width: 30vw;
    max-height: 50vh;
}

#banner #banner-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#content {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    flex-grow: 1;
    background: linear-gradient(
        to right, 
        white 0%, 
        white 50%, 
        #f3f3f3 50%, 
        #f3f3f3 100%
    );
}

#content > div {
    padding: 10px;
}

#welcome {
    flex-basis: 60vw;
    background-color: white;
}

#welcome h2 {
    clear: both;
}

#announcements {
    background-color: #f3f3f3;
    flex-basis: 20vw;
}

#announcements ul {
    list-style: none;
    padding-left: 0;
}

#announcements li {
    border-bottom: 2px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#announcements .byline {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}

#announcements .indent {
    margin: 10px;
}

@media (max-width: 600px) {
    #content {        
        flex-wrap: wrap;
    }

    #welcome, #announcements {
        flex-grow: 1;
    }
}
